
nav {
  display: flex;
  flex-direction: row; /* default */
  justify-content: flex-start; /* default */
  height: 25px;
  background-color: #a2cbb6;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  margin: auto;
}

.DAIX {
  margin-left: 0.25em;
  color: blue;
}


h1 {
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: underline;

}

nav > div:last-child {
  margin-left: auto;
}

main {
text-align: center;
}


ul#currencies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px,1fr));
  grid-gap: 0.5rem;
}

ul#price{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px,1fr));
  grid-gap: 0.5rem;
  color: blue;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-left: 45%;

  border-radius: 6px;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

formdec {
  display: grid;
}

satoshi {
  grid-column: 1 / 2;
}

human {
  grid-column: 2 / 2;
}

.form-group-human {
  color: blue;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-size: 0.75rem;
  margin-left: 60%;
}
.results {
  margin-left: 47%;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: orange;
  align-items: center;
  align-self: center;
  align-content: center;
}
.form-group-satoshi {
  color: blue;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-size: 0.75rem;
  margin-left: 5%;
}

.form-post-trade {
  color: blue;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-size: 1rem;
  font-weight: bold;
}

h3 {
  color: blue;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-size: 1rem;
  font-weight: bold;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

li {
  padding: 1em;
  background: white;
}

li.price {
  padding: 0em;
  background: white;
}

ul#currencies li.BTC {
  background: #3C75C3 url('images/BTC.png') no-repeat;
  background-position: 7px center;
}

ul#currencies li.ETH {
  background: #3C75C3 url('images/ETH.png') no-repeat;
  background-position: 7px center;
}

ul#currencies li.XRP {
  background: #3C75C3 url('images/XRP.png') no-repeat;
  background-position: 7px center;
}

ul#currencies li.BNB {
  background: #3C75C3 url('images/BNB.png') no-repeat;
  background-position: 7px center;
}

ul#currencies li.DOGE {
  background: #3C75C3 url('images/DOGE.png') no-repeat;
  background-position: 7px center;
}

ul#currencies li.DOT {
  background: #3C75C3 url('images/DOT.png') no-repeat;
  background-position: 7px center;
}

ul#currencies li.LINK {
  background: #3C75C3 url('images/LINK.png') no-repeat;
  background-position: 7px center;
}

ul#currencies li.UNI {
  background: #3C75C3 url('images/UNI.png') no-repeat;
  background-position: 7px center;
}

ul#currencies li.XLM {
  background: #3C75C3 url('images/XLM.png') no-repeat;
  background-position: 7px center;
}

ul#currencies li.ADA {
  background: #3C75C3 url('images/ADA.png') no-repeat;
  background-position: 7px center;
}
